.fCalendarJS_white{
	font-family: Sans-serif;
	font-size: 12px;
	background-color: #f6f6f6;
	background: -moz-linear-gradient(100% 100% 90deg, #f6f6f6, #eaeaea);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#f6f6f6));
	border: #b9b9b9 1px solid;
	border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
	width: 215px;
	padding: 5px;
	padding-top: 0;
}

.fCalendarJS_white table{
	font-size:13px;
	padding: 0;
	background: none;
	margin: 0px;
}

.fCalendarJS_white table th,
.fCalendarJS_white td,
.fCalendarJS_white table td.fCalendarJS_white_disabled{
	color: #A3A3A3;
	padding: 1px;
	background-color: #E7E7E7 !important;
	background: -moz-linear-gradient(100% 100% 90deg, #CACACA, #eaeaea) !important;
	height: 25px;
	border: #FFF 1px solid;
	border-bottom: #B5B5B5 1px solid;
	border-right: #B5B5B5 1px solid;
	text-align: center;
	margin: 0;
	height: 20px;
}
.fCalendarJS_white table td.fCalendarJS_white_disabled{
	
}
.fCalendarJS_white table td.fCalendarJS_white_disabled{
	cursor: text;
}

.fCalendarJS_white table th.fCalendarJS_white_corrent_day{
	border: #A3A3A3 1px solid;
}

.fCalendarJS_white th,.fCalendarJS_white td{
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	padding: 5px 1px 5px 1px;
	font-family: Fixed, monospace;
}

.fCalendarJS_white td{
	cursor:pointer;
	background: #ebebeb;
}

.fCalendarJS_white td:hover{
	color: #fff !important;
	
	border: #B1B1B1 1px solid !important;
	border-left: #949494 1px solid !important;
	border-bottom: #949494 1px solid !important;
	
	background-color: #FF4B00 !important;
	background: -moz-linear-gradient(100% 100% 90deg, #FF0F00, #FF4B00) !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF4B00), to(#FF0F00)) !important;
}

.fCalendarJS_white .fCalendarJS_whiteTitle{
	color: #e0e0e0;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 -5px Auto -5px;
	text-align: center;
	text-shadow: #4C4C4C 1px 1px 4px, #4C4C4C -1px -1px 4px;
	background-color: #383838;
	background: -moz-linear-gradient(100% 100% 90deg, #252525, #383838);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#252525));
	border-bottom: #000 1px solid;
	padding-top: 5px;
	height: 20px;
}

.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarYearNext,
.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarMonthNext,
.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarYearPrev,
.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarMonthPrev{
	color: #fff;
	padding: 0 5px 0 5px;
	margin: 0;
	text-align: center;
	text-shadow: #4C4C4C 1px 1px 4px, #4C4C4C -1px -1px 4px;
	background: #121212;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-decoration: none;
}

.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarMonthNext,
.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarYearNext{
	float: right;
}

.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarYearPrev,
.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarMonthPrev{
	float: left;
}

.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarMonthNext:hover,
.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarMonthPrev:hover{
	color: #FFF !important;
	background-color: #000 !important;
	text-shadow: #909090 1px 1px 4px, #909090 -1px -1px 4px !important;
}

.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarYearNext:hover,
.fCalendarJS_white .fCalendarJS_whiteTitle .fCalendarYearPrev:hover{
	background-color: #AA0A00 !important;
	color: #FFF !important;
	text-shadow: #4C4C4C 1px 1px 4px, #4C4C4C -1px -1px 4px !important;
}
/** other days */
.fCalendarJS_white td.dayTypeA{
	color: #000 !important;
	border-top: #06FF00 1px solid !important;
	border-left: #06FF00 1px solid !important;
	border-bottom: #026C00 1px solid !important;
	border-right: #026C00 1px solid !important;
	background-color: #05C000 !important;
	background: -moz-linear-gradient(100% 100% 90deg, #026C00, #05C000) !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#05C000), to(#026C00)) !important;
}

.fCalendarJS_white td.dayTypeB{
	color: #000 !important;
	font-size: 1.1em !important;
	font-weight: bold !important;
	margin: 0 Auto 0 Auto !important;
	text-align: center !important;
	background-color: #004A92 !important;
	background: -moz-linear-gradient(100% 100% 90deg, #002B58, #004A92) !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004A92), to(#002B58)) !important;
	border: #005BB3 1px solid !important;
	border-bottom: #002447 1px solid !important;
	border-right: #002447 1px solid !important;
}

.fCalendarJS_white td.dayTypeC{
	color: #fff !important;
	border-top: #FF8900 1px solid !important;
	border-left: #FF8900 1px solid !important;
	border-bottom: #890800 1px solid !important;
	border-right: #890800 1px solid !important;
	background-color: #FF4B00 !important;
	background: -moz-linear-gradient(100% 100% 90deg, #FF0F00, #FF4B00) !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF4B00), to(#FF0F00)) !important;
}
