#content{
	min-height:900px;
}
#info_left{
	width:400px;
	height:650px;
	float:left;
	overflow:hidden;
}
h3 em{
	color: #FF1E00;
	background:none;
}
/* Signo Zodiacal
 */
div.zodiacal_sign {
	background:URL(../img/signos.png);
	float:left;
	width:50px;
	height:50px;
}
div#sign_Monkey{ background-position: 0 0;}
div#sign_Rooster{ background-position: -50px 0;}
div#sign_Dog{ background-position: -100px 0;}
div#sign_Pig{ background-position: -150px 0;}
div#sign_Rat{ background-position: -200px 0;}
div#sign_Ox{ background-position: -250px 0;}
div#sign_Tiger{ background-position: -300px 0;}
div#sign_Rabbit{ background-position: -350px 0;}
div#sign_Dragon{ background-position: -400px 0;}
div#sign_Snake{ background-position: -450px 0;}
div#sign_Horse{ background-position: -500px 0;}
div#sign_Sheep{ background-position: -550px 0;}

dl dt{
	color: #001A49
}
#info_right{
	padding-top:30px;
	width: 340px;
	float:right;
}
#content_kua{
	width:350px;
	height:340px;
	padding:30px;
	background: #d2cfc8 URL(../img/content_kua_bg.png) no-repeat;
}
.item_kua{
	width:100px;
	height:100px;
	background: #AAA URL(../img/kua_bg.png);
	border: 4px solid #AAA;
	margin: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	float:left;
}
